<!doctype html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<script src="/js/lib/jquery-3.3.1.min.js"></script>
	<script src="/js/lib/jquery.url.js"></script>
	<script src="/js/loginRegister.js"></script>
	<link rel="stylesheet" href="/css/exchange.css">
</head>

<body>

	<div id="nav"></div>
	<script>
		$("#nav").load("html/nav.html")
	</script>

	<div class="htmleaf-container">
		<div class="wrapper">
			<div class="container">
				<h1>Welcome</h1>

				<form class="form" id="register-form">
					<input type="text" placeholder="Username" name="username">
					<input type="password" placeholder="Password" name="password" id="register-password">
					<input type="repassword" placeholder="rePassword" name="repassword">
					<br/>
					<button type="submit" id="login-button">Register</button>
				</form>
			</div>

			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>

</body>

</html>